#app-cover {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 10px;
    margin: -4px auto;
}

#player {
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 0px 155px;
    min-width: 0px;
    background-color: #f7fcff;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;

    z-index: -1;
}

@keyframes activeMusic {
    0% {
        min-height: 0px;
    }

    100% {
        min-height: 100px;
    }
}

@keyframes noactiveMusic {
    0% {
        min-height: 100px;
    }

    100% {
        min-height: 0px;
    }
}

#player-track.active {
    top: -92px;
    padding: 13px 22px 25px 155px;
    z-index: 1;
    animation: activeMusic ease-in 0.3s forwards;


}

#player-track.noactive {
    animation: noactiveMusic linear 0.3s forwards;
}

#album-name {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 -3px 0;
}

#track-time {

    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;


}

#current-time {
    float: left;
}

#track-length {
    float: right;
}

#current-time,
#track-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
    color: #00ffa2;
    background-color: transparent;
}

#s-area,
#seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area {
    background-color: #ffe8ee;
    cursor: pointer;
}

#ins-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
}

#s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time,
#s-hover {
    background-color: #3b3d50;
}

#seek-bar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content {
    position: relative;
    height: 86px;
    background-color: rgb(0, 255, 38);
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active {
    top: -60px;
    box-shadow: 0 0 0 4px #383838, 0 30px 50px -15px #afb7c1;
}



#album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active {
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active {
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#buffer-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img,
#buffer-box {
    transition: 0.1s linear all;
}

#album-art.buffering img {
    opacity: 0.25;
}



#album-art.buffering #buffer-box {
    opacity: 1;
}

#player-controls {
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;

}

.control {
    width: 30%;
    float: left;
    padding: 12px 0;

}


.button {

    width: 5px;
    height: 5px;
    padding: 20px;
    background-color: rgb(0, 255, 200);
    border-radius: 6px;
    cursor: pointer;
}

.button i {
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 0;
    margin: 3px -6px;
}

.button,
.button i {
    transition: 0.2s ease all;
}

.button:hover {
    background-color: #d6d6de;
}

.button:hover i {
    color: #fff;
}

#bg-music {
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(20px);

}

.vol {
    display: flex;
    flex-direction: column;
    margin: -38px 0 0 55px;
    justify-content: space-around;
}

.vol-icon {
    color: #fff;
    cursor: pointer;
}

#vol-down {
    margin: 2px 0 0 6px;
}

#vol-up {
    margin: -10px 0 0 6px;
}

#currvol {
    margin: 0 3px;
    text-align: center;
    padding: 3px;
    color: #fff;
    font-size: 14px;
}

.timemusic {
    position: absolute;


    width: 210px;
}

.ap-timebar {
    animation: aptimebar ease 0.3s forwards;
}

.ex-timebar {
    animation: extimebar ease 0.3s forwards;
}

@keyframes aptimebar {
    0% {
        top: 0px;
    }

    100% {
        top: 70px;
    }
}

@keyframes extimebar {
    0% {
        top: 70px;
    }

    100% {
        top: 0px;
    }
}