/* Form Đăng Nhập/Đăng Ký */
.userForm {
    display: block; 
    position: absolute; 
    right: 5.5%; 
    background-color: white; 
    margin-top: 4.75vi; 
    width: 30vi;

}

.userForm_headerForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.userForm_heading {
    font-size: 1.5rem;
    font-weight: 500;
}
.userForm_switchbtn {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}


.userForm_Info {
    padding: 0 2.25vi;
    margin-top: 3%;
}

.userInput {
    margin-bottom: 2%;
    width: 100%;
    height: 2vi;
}