/* Music Box Mini */
.mainMusicFrame {
    border-radius: 10px;
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 200px;
    margin-left: 10vw;
}


.musicMini {
    border-radius: 10px;
    border-width: 5px;
    border-style: dashed;
    border-color: aquamarine;
    background-color: rgba(155, 155, 155, 0.196);
}

.musicType {
    font-size: 20px;
    display: flex;
}


.musicOperator {
    display: flex
}

#musicPlay {
    width: 100%;
}

#nameMusic {
    font-size: 17px;

}

#randomMusic {
    background-color: blueviolet;
    color: wheat;
    width: 100%;
    font-size: 22px;
}

#prevMusic {
    background-color: blueviolet;
    color: wheat;
    width: 50%;
    font-size: 25px;
    display: inline-block
}

#nextMusic {
    background-color: blueviolet;
    color: wheat;
    width: 50%;
    font-size: 25px;
    display: inline-block;
}

#pauseMusic {
    background-color: blueviolet;
    color: wheat;
    width: 50%;
    font-size: 25px;
    display: inline-block;
}

#progressMusic {
    width: 50%;
    font-size: 18px;
}

#timingProgress {
    width: 100%;
    height: 3vh;
    background-color: rgb(0, 171, 140);
}
#reallyProgress {
    width: 0%;
    height: 3vh;
    background-color: rgb(0, 255, 208, 0.75)
}