.infoBox {
    display: flex;
}

#infoBox_avatar {
    width: 10%;
    margin-left: 10%;
}

#infoBox_info {
    margin-left: 1%;
}

#userName {
    font-size: 1.2rem;
}

#nickName {
    font-size: 1rem;
    color: rgb(81, 81, 81)
}

.detailInfo {
    display: flex;
    align-items: center;
}

#changeavt {
    margin-left: 5%;
    height: 30%;
    width: 30%;
}