/* Box chứa các DIV */
#scrollBox {
    transition: all .3s ease-in;
    display: flex;
    width: fit-content;
}
/* Form Đăng Nhập/Đăng Ký */
.userForm {
    overflow: hidden;
    transition: all .2s linear;
    border: solid;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: absolute; 
    top: 25%;
    left: 37%;    
    width: 360px;
    align-items: center;
    height: 250px;
}

.boxLogin, .boxCreate {
    flex-shrink: 0;
}
.boxLogin {
    width: 320px;
    margin-right: 60px;
}

.userForm_headerForm {
    color: white;
    align-items: center;
    margin-left: 2.25vi;
}
.userForm_heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.userForm_Info {
    padding-top: 0;
    padding-left: 2.25vi;
    margin-top: 3%;
    width: 100%;
}

.userInput {
    transition: all .1s linear;
    outline: 0;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-bottom: 2px solid #ffffff3b;
    background-color: transparent;
    margin-bottom: 5%;
    width: 300px;
    height: 2vi;
}

::placeholder {
    color: rgb(200, 200, 200);
}

.userForm_forgotPass {
    font-size: 0.85rem;
    color: white;
    margin-right: 0;
    margin-bottom: 5%;
    cursor: pointer;
}

.operationBTN {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.userForm_switchbtn {
    font-size: 0.85rem;
    color: white;
    margin-right: 0;
    margin-bottom: 5%;
    cursor: pointer;

}

.userForm_btnControl {
    transition: all .1s linear;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 1% 1% 1% 1%;
    background-color: rgb(0, 255, 221);
    border-radius: 10px;
    width: 60%;
    text-align: center;
    cursor: pointer;
}
.userForm_btnControl:hover {
    background-color: rgb(0, 255, 191);
}
.userForm_btnControl:active {
    background-color: rgb(0, 237, 213);
}
